    <div class="row">
      <div class="features_items">{{#if categories}}
          {{#each categories as |category|}}
            <div class="row">
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="/img/categories/{{category.Image}}" alt="{{category.CategoryName}}"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <h2 class="cat">{{category.CategoryName}}</h2>
                <p>{{category.Description}}</p>
              </div>
              <div class="col-sm-3">
                <form action="/admin/cat/{{category.CategoryID}}/edit" method="GET" class="dev-form"><button type="submit" class="btn btn-default"><i class="fa fa-edit"></i>{{' Edit'}}</button></form>
                <form action="/admin/cat/{{category.CategoryID}}/delete" method="POST" class="dev-form"><button type="submit" class="btn btn-default"><i class="fa fa-trash-o"></i>{{' Delete'}}</button></form>
              </div>
            </div>
          {{/each}}{{/if}}</div>
      <form action="/admin/cat/add" method="GET"><button type="submit" class="btn btn-default"><i class="fa fa-plus"></i>{{' Add new category'}}</button></form><br><br>
    </div>
