{{#extend "../layout"}}
  {{#content "content"}}
    <section id="cart_items">
      <div class="container">
        <div class="review-payment">
          <h2>Review Order</h2>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="table-responsive cart_info">
              <table class="table table-condensed">
                <thead>
                  <tr class="cart_menu">
                    <td class="image"></td>
                    <td class="description">Product</td>
                    <td class="price">Unit Price</td>
                    <td class="quantity">Quantity</td>
                    <td class="total">Total</td>
                  </tr>
                </thead>
                <tbody>{{#if cart}}
                    {{#each cart as |item|}}{{var quantity = item.quantity;}}{{#if quantity > 0}}
                        {{var name = item.product_name;}}{{var productLink = '/cat/' + item.CategorySlug + '/' + item.ProductSlug;}}{{var unitPrice = item.ProductPrice;}}{{var productTotal = item.productTotal;}}
                        <tr>
                          <td class="cart_product"><a href="{{productLink}}"><img src="/img/products/{{item.Image}}" alt="{{name}}"></a></td>
                          <td class="cart_description">
                            <h4><a href="{{productLink}}">{{name}}</a></h4>
                            <p>{{item.Description}}</p>
                          </td>
                          <td class="cart_price">
                            <p>{{unitPrice + ' €'}}</p>
                          </td>
                          <td class="cart_quantity">
                            <p>{{quantity}}</p>
                          </td>
                          <td class="cart_total">
                            <p class="cart_total_price">{{productTotal + ' €'}}</p>
                          </td>
                        </tr>
                      {{/if}}{{/each}}
                    <tr>
                      <td colspan="4"></td>
                      <td class="cart_quantity"><a href="/cart" class="btn btn-default update">Edit Cart</a></td>
                    </tr>
                  {{/if}}</tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="table-responsive cart_info">{{#if address}}
                <table class="table table-condensed dev-table">
                  <thead>
                    <tr class="cart_menu">
                      <td colspan="{{2}}">Delivery Address</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Fullname</td>
                      <td>{{address.FullName}}</td>
                    </tr>
                    <tr>
                      <td>Address</td>
                      <td>{{address.StreetAddress}}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>{{address.PostCode + ' ' + address.City}}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>{{address.Country}}</td>
                    </tr>
                    <tr>
                      <td>Tel</td>
                      <td>{{address.Phone}}</td>
                    </tr>
                  </tbody>
                </table>
              {{/if}}</div>
            <div class="table-responsive cart_info">{{#if summary}}
                <table class="table table-condensed dev-table">
                  <thead>
                    <tr class="cart_menu">
                      <td colspan="{{2}}">Summary</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Sub Total</td>
                      <td>{{summary.subTotal + ' €'}}</td>
                    </tr>
                    <tr>
                      <td>Discount</td>
                      <td>{{summary.discount + ' €'}}</td>
                    </tr>
                    <tr class="shipping-cost">
                      <td>Shipping Cost</td>{{#if summary.shipCost == 0}}
                        <td>Free</td>
                      {{else}}
                        <td>{{summary.shipCost + ' €'}}</td>
                      {{/if}}
                    </tr>
                    <tr>
                      <td>Total</td>
                      <td><span>{{summary.total + ' €'}}</span></td>
                    </tr>
                  </tbody>
                </table>
              {{/if}}</div>
            <table class="table">
              <tr>
                <td></td>
                <td colspan="{{2}}" class="text-right"><a href="/checkout/order" class="btn btn-default check_out">Order</a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </section><!-- /#cart_items-->
  {{/content}}{{/extend}}
